.section {
  width: 92vw;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  color: #2563eb;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  color: #111827;
}

.subtitle {
  color: #4b5563;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.grid {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 93vw;
  margin: 0 auto;
}
.prev,.next{
  
  height: 30px;
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.next:hover{
  background-color: #10B981;
}
.prev:hover{
  background-color: #dc7f65;
}



@media (min-width: 768px) {
  .grid{
    flex-direction: column;
    gap: 20px;
  }

  h3{
    font-size: 30px;
  }
 
}
@media (max-width: 500px) {
  .grid{
    flex-direction: column;
    gap: 20px;
  }
 
  .section{
    margin:  0 auto;
    margin-top: 10px;
  }
  h3{
    font-size: 25px;
  }
 
}

@media (min-width: 1024px) {
 
  h3{
    font-size: 30px;
  }
}